
<div ng-if="program == 'Fertility Tracking/'" ng-include="'./templates/fertility.html'"></div>

<div ng-if="program == 'Pregnancy Tracking/'" ng-include="'./templates/pregnancy.html'"></div>

<div ng-if="program == 'Eat 2014/'" ng-include="'./templates/eat.html'"></div>

<div ng-if="program == 'Sleep 2014/'" ng-include="'./templates/sleep.html'"></div>

<div ng-if="program == 'Walk 2014/'" ng-include="'./templates/walk.html'"></div>

<div ng-if="program == 'Registration and Linked Tracker Bonus/'" ng-include="'./templates/bouns.html'"></div>