<div class="site-page">
    <div class="site-page-heading page-title">
        <a class="page-back-button" href="/"><b> < </b> </a>
        <h2>OVIA {{blueprint.title}}</h2>
    </div>
    <div><img class="page-icon" ng-src="{{blueprint.icon_url}}" ></div>
    <div ><h3 class="page-title">{{blueprint.title}} Tracker</h3></div>
    <div><h4 class="page-title">{{blueprint.subtext_template}} Tracker</h4></div>
    <div class="page-desc">{{blueprint.description}}</div>
    <div class="page-desc">{{blueprint.incentive_description}}</div>
</div>